<% var title = 'ON Body Clinic | TOP'; %>
<% var description = '新宿駅徒歩1分の好アクセスにある、ダイエット専門のクリニックON Body Clinic(オン・ボディ・クリニック)当院では、皆様を理想的なボディに切り替える為に、痩身施術・ダイエット処方を行なってます。ご自身の体型にお悩みの方、部分痩せしたい方は、新宿ON Body Clinic(オン・ボディ・クリニック)へ'%>
<% var keywords = '新宿,ダイエット,メディカルダイエット,痩身,脂肪吸引,ラクやせ,冷却痩身,GLP-1,部分痩せ' ;%>
<% var path = '.'; %>
<% include common/_header %>

<!-- 記述 -->
<div class="top__slide-area bg-cover">
    <div class="contents">
        <ul id="js-slide" class="is-arw">
            <li class="box-size slick-slide triangle bg-thumb bg03">
                <div class="top__box flex-sb">
                    <div class="desc">
                        <h2 class="f-ryu">栄養管理</h2>
                        <p>当院の医師から、適切な食事療法を<br class="pc-only">ご提案させていただきます。加えて、<br class="pc-only">GLP-1投与で食欲抑制を行います。</p>
                    </div>
                </div><!-- /top_box -->
                <div class="bottom__box">
                    <p class=" font-sm cg">栄養管理指導/食欲抑制GLP-1</p>
                    <a href=" #" class="btn btn-slide">詳しくはこちら</a>
                </div>
            </li>
            <li class="box-size slick-slide triangle">
                <div class="top__box flex-sb">
                    <div class="desc">
                        <h2 class="f-ryu">お薬治療</h2>
                        <p>効率的ダイエットを実現するための<br class="pc-only">お薬を処方します。<br class="pc-only">FDA承認をとれている信頼のある<br class="pc-only">お薬を使用しております。</p>
                    </div>

                    <div class="img">
                        <img src="<%= path %>/src/img/top/slide01_img.png" alt="サムネイル">
                    </div>
                </div><!-- /top_box -->
                <div class="bottom__box">
                    <p class=" font-sm cg">BBX/防風通聖散/etc...</p>
                    <a href=" #" class="btn btn-slide">詳しくはこちら</a>
                </div>
            </li>

            <li class="box-size slick-slide triangle bg-thumb bg01">
                <div class="top__box flex-sb">
                    <div class="desc">
                        <h2 class="f-ryu">運動療法</h2>
                        <p>COMING SOON<br class="pc-only">医療機器で運動をサポートします<br class="pc-only">導入予定</p>
                    </div>
                </div><!-- /top_box -->
                <div class="bottom__box">
                    <p class=" font-sm cg">運動指導・機械</p>
                    <a href=" #" class="btn btn-slide">詳しくはこちら</a>
                </div>
            </li>

            <li class="box-size slick-slide triangle">
                <div class="top__box flex-sb">
                    <div class="desc">
                        <h2 class="f-ryu">ボディデザイン</h2>
                        <p>気になる脂肪を冷却して理想のボディをデザインしてゆきます。メスを使用しないので、ダウンタイムがほとんどなく、気軽に受けられる痩身施術です。</p>
                    </div>

                    <div class="img">
                        <img src="<%= path %>/src/img/top/slide02_img.png" alt="サムネイル">
                    </div>
                </div><!-- /top_box -->
                <div class="bottom__box">
                    <p class=" font-sm cg">クラツーアルファ</p>
                    <a href="https://souki-kai.or.jp/onbody/pr01/" class="btn btn-slide" target="_blank">詳しくはこちら</a>
                </div>

            </li>


            <li class="box-size slick-slide triangle  bg-thumb bg02">
                <div class="top__box flex-sb">
                    <div class="desc">
                        <h2 class="f-ryu">外科治療</h2>
                        <p>脂肪を部位的に取り除きます。<br class="pc-only">物理的に脂肪細胞を取り除くため、<br class="pc-only">リバウンドしにくく、部分的に痩せたい<br class="pc-only">という方におすすめの施術です。</p>
                    </div>

                </div><!-- /top_box -->
                <div class="bottom__box">
                    <p class=" font-sm cg">脂肪溶解注射・脂肪吸引</p>
                    <a href=" #" class="btn btn-slide">詳しくはこちら</a>
                </div>
            </li>


        </ul>


    </div><!-- /contents -->


</div><!-- /top__slide-area -->


<section class="toggle__body is-off">


    <div class="contents">

        <div class="toggle_wrap flex align-cent">
            <div class="range__button">
                <input type="range" min="10" max="100" value="15" step="5" id="js-range" data-rangeslider>
                <output></output>
            </div>
            <div class="logo__text text-light  cw gosic">
                <span class="large fw600">N</span>Body Clinic
            </div><!-- /logo__text -->

        </div><!-- /toggle_wrap -->

        <p class="f-ryu text-light cw tc">さぁ、理想的なカラダへ<br>切り替えていきましょう</p>
        <p
            class="cw sub-text tc">当院では、食事療法、お薬の処方や医療機器による減量のサポートを行っています。<br class="pc-only">患者様が無理しすぎず継続できることを一番に、<br class="pc-only">ひとりひとりに合った減量プランを専門医がご提案しています。</p>
    </div><!-- /contents -->
</section>
<section class="col-2__box po_rel">
    <div class="bg bg-left po_ad"></div>
    <div class="bg bg-right po_ad"></div>
    <div class="contents flex-sb">
        <div class="left__nav gosic">
            <ul>
                <li class="flex box-size align-cent">

                    <div class="thumb">
                        <img src="<%= path %>/src/img/top/navi_about_thumb.jpg" alt="はじめての方へサムネイル" class="cover">
                    </div>
                    <div class="nav__texts po_rel triangle triangle-left">
                        <h2><span class="font-sm">ON Body Clinicへようこそ</span><br>
                            初めての方へ</h2>
                        <a href="./about.html" class="btn btn-green">詳しく見る</a>
                    </div>
                </li>
                <li class="flex box-size align-cent">
                    <div class="nav__texts po_rel triangle triangle-right">
                        <h2><span class="font-sm">24時間かんたんWeb予約</span><br>
                                            来院予約</h2>
                        <a href="https://connect-app.net/r_yag/reserve/main?cid=2" class="btn btn-green"
                            target="_blank">予約サイトへ</a>
                    </div>
                    <div class="thumb">
                        <img src="<%= path %>/src/img/top/navi_reseve_thumb.jpg" alt="はじめての方へサムネイル" class="cover">
                    </div>
                </li>
            </ul>
        </div><!-- /middle__nav -->

        <div class="right__concept box-size">
            <div class="greeting box-size po_rel bg-cover">
                <div class="band f-ryu po_ad cw">
                    <div class="band__inner po_rel flex-sb align-cent">
                        <h2>ご挨拶</h2><span class="font-sm">concept</span>
                    </div><!-- /band__inner -->
                </div><!-- /band -->
                <p>我慢や運動をしてダイエットをしても、継続するには相当な努力が必要です。<br class="pc-only">多少なり無理をせざるを得ないは精神衛生上良いとは言い難く、<br class="pc-only">栄養不足やストレスによる体調不良に陥るリスクもございます。</p>
                <p>そこで私達は、医療の側面からストレスフリーなダイエットをご提案すべく、新宿駅徒歩1分圏内にダイエット専門院を開院しました。</p>
                <p class="mb0">理想の体型を追及したい方も、健康のために痩せたい方も是非当院までお気軽にご相談ください。<br class="pc-only">ご来院をお待ちしております。</p>
            </div><!-- /greeting -->
            <aside class="banner__area flex-sb">
                <a href="https://goo.gl/maps/qig1Gcw6YvigPiHM8" target="_blank"><img
                        src="<%= path %>/src/img/common/banner01.jpg" alt="新宿駅徒歩1分"></a>
                <a href="menu.html"><img src="<%= path %>/src/img/common/banner02.jpg" alt="ダイエット専門員"></a>
            </aside>
        </div><!-- /right__concept -->
    </div><!-- /contents  -->
</section>

<section class="menu">
    <div class="contents">
        <ul class="menu__list">
            <li class="bg-cover menu01 cw po_rel">
                <a href="#" class="cw" target="_blank">
                    <div class="num-bg num01 po_ad"></div>
                    <div class="desc gosic box-size po_rel arrow">
                        <h2 class="fw600">栄養管理<span class="font-sm">(栄養管理指導/食欲抑制GLP-1/etc...)</span></h2>
                        <p>医師による専門的で無理のない食事の栄養摂取のプランをご提案させていただきます。<br class="pc-only">栄養管理のアドバイスのみならず。食欲を抑制するGLP-1を処方してつらい食事制限をすることなく、ダイエットが実現できます。</p>
                        <div class="anchor__links anchor-menu01 js-anchor flex">
                            <span data-url="#" class="is-select js-link">準備中</span>
                            <span data-url="#" class="js-link">準備中</span>
                            <span data-url="#" class="js-link">準備中</span>
                            <span data-url="#" class="js-link">準備中</span>
                        </div><!-- /anchor__links -->

                    </div><!-- /desc -->
            </li>
            <li class="bg-cover menu02 cw po_rel">
                <a href="#" class="cw" target="_blank">
                    <div class="num-bg num02 po_ad"></div>
                    <div class="desc gosic box-size po_rel arrow">
                        <h2 class="fw600">お薬治療<span class="font-sm">(BBX/防風通聖散/etc...)</span></h2>
                        <p>ダイエットを効率的にするお薬や、<br class="pc-only">通弁を繋がすお薬を処方しております。激しい運動をせずに健康的に痩せることが可能です。<br class="pc-only">こまめに通院することなく理想の体型を手に入れる事ができます</p>
                        <div class="anchor__links anchor-menu02 js-anchor flex">
                            <span data-url="#" class="is-select js-link">準備中</span>
                            <span data-url="#" class="js-link">準備中</span>
                            <span data-url="#" class="js-link">準備中</span>
                            <span data-url="#" class="js-link">準備中</span>
                        </div><!-- /anchor__links -->
                    </div><!-- /desc -->
                </a>
            </li>
            <li class="bg-cover menu03 cw po_rel">
                <a href="#" class="cw" target="_blank">
                    <div class="num-bg num03 po_ad"></div>
                    <div class="desc gosic box-size po_rel arrow">
                        <h2 class="fw600">運動療法<span class="font-sm">(運動指導/機械)</span></h2>
                        <p>COMING SOON<br class="pc-only">医療機器で運動をサポートします。<br class="pc-only">導入予定</p>
                        <div class="anchor__links anchor-menu03 js-anchor flex">
                            <span data-url="#" class="is-select js-link">準備中</span>
                            <span data-url="#" class="js-link">準備中</span>
                            <span data-url="#" class="js-link">準備中</span>
                            <span data-url="#" class="js-link">準備中</span>
                        </div><!-- /anchor__links -->

                    </div><!-- /desc -->
                </a>
            </li>

            <li class="bg-cover menu04 cw po_rel">
                <a href="./pr01" class="cw" target="_blank">
                    <div class="num-bg num04 po_ad"></div>
                    <div class="desc gosic box-size po_rel arrow">
                        <h2 class="fw600">ボディデザイン</h2>
                        <p>「脂肪を冷却して溶解する」タイプの美容機器を用いて、理想のボディをデザインしてゆきます。<br class="pc-only">施術は痛みがなく、また脂肪細胞自体を減らす為<br class="pc-only">リバウンドしにくいという特徴があります。</p>
                        <div class="anchor__links anchor-menu04 js-anchor flex">
                            <span data-url="https://souki-kai.or.jp/onbody/pr01/#merit"
                                class="is-select js-link">特徴</span>
                            <span data-url="https://souki-kai.or.jp/onbody/pr01/#desc__area" class="js-link">内容</span>
                            <span data-url="https://souki-kai.or.jp/onbody/pr01/#price" class="js-link">料金</span>
                            <span data-url="https://souki-kai.or.jp/onbody/pr01/#qa" class="js-link">Q&A</span>
                        </div><!-- /anchor__links -->

                    </div><!-- /desc -->
                </a>
            </li>

            <li class="bg-cover menu05 cw po_rel ">
                <a href="#" class="cw">
                    <div class="num-bg num05 po_ad"></div>
                    <div class="desc gosic box-size po_rel arrow">
                        <h2 class="fw600">脂肪吸引</h2>
                        <p>気になる脂肪を物理的に取り除き、通常のダイエットでは落とせない深層脂肪を落とすことが可能です。脂肪細胞その物を消滅させるので、リバウンドがしにくい施術です。</p>
                        <div class="anchor__links anchor-menu05 js-anchor flex">
                            <span data-url="#" class="is-select js-link">準備中</span>
                            <span data-url="#" class="js-link">準備中</span>
                            <span data-url="#" class="js-link">準備中</span>
                            <span data-url="#" class="js-link">準備中</span>
                        </div><!-- /anchor__links -->

                    </div><!-- /desc -->
                </a>
            </li>

        </ul>
    </div><!-- /contents -->
</section>

<section class="question">
    <div class="contents">
        <h1 class="tc f-ryu">美容クリニックが本気であなたをサポート</h1>
        <ul class="question__top flex-sb gosic">
            <li class="po_rel">
                <div class="band po_ad">
                    <div class="band__inner po_rel cw">
                        <h2>美容医療とジムとの違い</h2>
                    </div>
                </div><!-- /band -->
                <div class="question__desc-box flex align-cent">
                    <div class="thumb"><img src="<%= path %>/src/img/top/qa_thumb01.png" alt="サムネイル画像""></div>
                    <div class=" text-desc">
                        <p>理想的な体型を維持するには<br class="pc-only">
                    定期的な運動は必要不可欠です。<br class="pc-only">
                    疲れた体にムチをうって運動している方も<br class="pc-only">
                    多いのではないでしょうか。</p>

                        <p class="mb0">当院の施術に「努力」や「我慢」はありません。<br class="pc-only">
                    必ず結果を出すためにもストレスフリーな<br class="pc-only">
                    ダイエットを目指しましょう。</p>
                    </div>
                </div><!-- / question__desc-box-->

                <div class="cw question__answer flex align-cent">
                    <div class="test-a">A</div>
                    <div class="text-desc f-ryu">当院ではお客様に寄り添った診察を行い、<br class="pc-only">より結果に繋がるよう施術を行っております。
                    </div>
                </div><!-- /question__answer -->
            </li>

            <li class="po_rel">
                <div class="band po_ad">
                    <div class="band__inner po_rel cw">
                        <h2>美容医療とエステとの違い</h2>
                    </div>

                </div><!-- /band -->

                <div class="question__desc-box flex align-cent">
                    <div class="thumb"><img src="<%= path %>/src/img/top/qa_thumb02.png" alt="サムネイル画像""></div>
                                <div class=" text-desc">
                        <p>ご家庭用の美容機器やエステの美容機器は<br class="pc-only">
                        効果が薄い感じた事はありませんか？<br class="pc-only">
                        それには理由があります。</p>

                        <p class="mb0">十分に性能を引き出し即効性を得るには<br class="pc-only">
                        それなりに高出力で取り扱う必要があり、<br class="pc-only">
                        医学的な知見やフォロー体制が必要になる事から、<br class="pc-only">
                        医師しか取り扱いが許可されていないからなんです。</p>
                    </div>
                </div><!-- / question__desc-box-->

                <div class="cw question__answer flex align-cent">
                    <div class="test-a">A</div>
                    <div class="text-desc f-ryu">出力に関してはドライヤーと<br class="pc-only">ジェットエンジンぐらい違います。
                    </div>
                </div><!-- /question__answer -->
            </li>
        </ul>

        <dl class="question__other gosic ">
            <a href="#" class="flex-sb">
                <dt>
                    <span class="category cat01 cw">脂肪吸引</span> <span class="qa-texts text-q cw">Q</span>
                    <p>脂肪が付いている部位であれば、どの部分でも行えま…</p>
                </dt>

                <dd><span class="qa-texts text-a">A</span>
                    <p>脂肪の質が柔らかく(繊維が少ない)、周囲に重要な器官がな…</p>
                </dd>
            </a>
        </dl>

        <dl class="question__other gosic">
            <a href="#" class="flex-sb">
                <dt>
                    <span class="category cat01 cw">脂肪吸引</span> <span class="qa-texts text-q cw">Q</span>
                    <p>脂肪の数を減らせばリバウンドはないのでしょうか？</p>
                </dt>

                <dd><span class="qa-texts text-a">A</span>
                    <p>おっしゃる通りです。脂肪吸引が他の痩身治療やダイエット…</p>
                </dd>
            </a>
        </dl>

        <dl class="question__other gosic mb0">
            <a href="#" class="flex-sb">
                <dt>
                    <span class="category cat01 cw">脂肪吸引</span> <span class="qa-texts text-q cw">Q</span>
                    <p>術後の痛みは結構ありますか？</p>
                </dt>

                <dd><span class="qa-texts text-a">A</span>
                    <p>筋肉痛の様な痛みはございますが、鋭い痛みではないのでご…</p>
                </dd>
            </a>
        </dl>

        <p class="btn-content tc"><a href="qa.html" class="btn btn-readmore">もっと見る</a></p>

    </div><!-- /contents -->
</section>

<section class="clinic po_rel">
    <div class="map po_ad">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.4161150589925!2d139.70125856922635!3d35.691376471023574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cda4bf96e15%3A0x26a39fcca68665f7!2z44CSMTYwLTAwMjIg5p2x5Lqs6YO95paw5a6_5Yy65paw5a6_77yT5LiB55uu77yR77yXIOOCouOCq-ODjeODk-ODqw!5e0!3m2!1sja!2sjp!4v1572494480472!5m2!1sja!2sjp"
            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <div class="contents">
        <div class="clinic__info-text gosic">
            <address>
                <p>〒160-0022<br>東京都新宿区3丁目17-2 アカネビル 8F</p>
            </address>
            <p>
                <span class="cw">アクセス</span><br>
                東京メトロ丸の内線 新宿三丁目A5出口より徒歩1分
            </p>
        </div>
    </div>
</section>

<div class="conversion">
    <div class="contents gosic">
        <h2>無料カウンセリング予約・施術のご相談はこちら</h2>

        <div class="conversion__box flex-sb">
            <div class="conversion__left-tel">
                <p><a href="./tel/shinjuku02.html" class="f-ryu">0120-972-561</a></p>
                <p class="tc">営業時間：10時～20時</p>
            </div>

            <div class="conversion__right-reserve flex-sb">
                <a class="cv-btn cv-reserve js-popup-open open-reserve"><span>来院予約</span></a>
                <a href="https://souki-kai.or.jp/contact/index.php" class="cv-btn cv-mail"
                    target="_blank"><span>メール相談</span></a>
            </div>
        </div>


    </div>

</div>



<% include common/_footer %>
